<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real-Time Analyics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F2F2F0;
        }

        .navbar {
            background-color: #373737;
            padding: 5px;
        }

        .navbar a {
            color: #8C8C8C;
            font-size: 1.5em;
        }

        .coligo {
            color: #D0D0D0;
            font-size: 0.8em;
        }
    </style>
</head>

<body>

    <div class="container" id="app">
        {{ message }}
        <form v-on:submit.prevent="noteAway">
            <input type="text" name="note" v-model="note">
            <button type="submit">Send</button>
        </form> 

        <ul>
            <li v-for="note in notes">
                {{ note }}
            </li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/dashboard.js"></script>
    <script>
        var socket = io();
        var visitorData = {
            referringSite: 'potato',
            page: 'yuuuuup'
        }
        socket.emit('visitor-data', visitorData);
    </script>

</body>

</html>